<div id="login">
	<button class="hide-login">X<button>
	<form method="POST" action="/auth/login" >
	  <input name="username" type="text" placeholder="email" required />
	  <input name="password" type="password" placeholder="password" required />
	  <input type="submit" class="hide-login" value="Log In" />
	</form>
	<form action="/auth/register">
	    <input type="submit" value="New User" />
	    <input type="button" value="Cancel" onclick="history.back(-1)" />

	</form>
  </div>