<% include ./head.ejs %>
<% include ./nav.ejs %>
<% include ../auth/login.ejs %>
<% include ../auth/register.ejs %> 

<div id="help-container"
	<form>
  <input type="button" value="Go back!" onclick="history.back()">
</form>

	<div id="help-info">
		<% help.forEach(help => { %> 
			<h1><%= help.question %></h1>
			<h3><%= help.answer %></h3>
			<% }) %> 
			

		
	</div>
</div>