<nav id="nav-wrapper">
	<ul class="nav">
		<li><button class="nav-links" id="help">Help</li>
		<li class="nav-links"><a href=#>Blog</a></li>
		<li class="nav-links"><a href=#>Sign In</a></li>
	</ul>
</nav>