<nav id="nav-wrapper">
	<ul class="nav">
		<li><button class="nav-links" id="help">Help</button></li>

		<li><a href="/" class="nav-links" id="home">Home</button></a></li>

		<li><button class="nav-links" id="login">Sign In</button></a></li>
	
		<li><a href="/logout" class="nav-links" id="logout">Logout</a></li>
	</ul>
</nav>