<nav  id="nav-wrapper">
	<ul class="nav">
		<li>
			<a href="/public/help" title="Help" class="nav-links tooltip" id="help">
				<i class="fa fa-question" aria-hidden="true">
				</i><span class="tooltiptext">HELP</span></a>
				
		</li>

		<li>
			<a href="/" class="nav-links tooltip" id="home-tab"><i class="fa fa-home" aria-hidden="true"></i><span class="tooltiptext">HOME</span></a>
			
		</li>
		

		<li>
			<a href="#" class="nav-links tooltip" id="show-login">
				<i class="fa fa-sign-in" aria-hidden="true">
			</i><span class="tooltiptext">LOG IN</span></a>
		

		</li>
		
	</ul>
</nav>
