<nav id="nav-wrapper">
	<ul class="nav">
		<li><button class="nav-links" id="help">Help</button></li>

		<li><a href="/" class="nav-links" id="home-tab">Home</button></a></li>

		<li><a href="/profile" class="nav-links" id="profile-tab">Profile</button></a></li>

		<li><a href="/profile/reviews" class="nav-links" id="profile-tab">Reviews</button></a></li>

		<li><a href="/profile/favorites" class="nav-links" id="profile-tab">Favorites</button></a></li>

		<li><button class="nav-links" id="show-login">Sign In</button></a></li>
	
		<li><form action="/logout" method="post" type="submit" class="nav-links" id="logout">Logout</form>
		</li>
	</ul>
</nav>