<form>
	<ul id="star-group">
		<li class="stars">
			<label for="rating_1"><i class="fa fa-star" aria-hidden="true"></i></label>
			<input type="radio" name="ratings" id="rating_1" value="1"/>
		</li>
		<li class="stars">
			<label for="rating_2"><i class="fa fa-star" aria-hidden="true"></i></label>
			<input type="radio" name="ratings" id="rating_2" value="2""/>
		</li>
		<li class="stars">
			<label for="rating_3"><i class="fa fa-star" aria-hidden="true"></i></label>
			<input type="radio" name="ratings" id="rating_3" value="3"/>
		</li>
		<li class="stars">
			<label for="rating_4"><i class="fa fa-star" aria-hidden="true"></i></label>
			<input type="radio" name="ratings" id="rating_4"v alue="4"/>
		</li>
		<li class="stars">
			<label for="rating_5"><i class="fa fa-star" aria-hidden="true"></i></label>
			<input type="radio" name="ratings" id="rating_5" value="5"/>
		</li>
	</ul>
</form>