<nav id="nav-wrapper">
	<ul class="nav">
		<li>Welcome <%= user.first_name %></li>
		<li>
			<a href="/validated/help" class="nav-links" id="help">Help</a>
			
	</li>

		<li>
			<a href="/validated" class="nav-links" id="home-tab">Home</a>
		</li>

		<li>
			<a href="#" class="nav-links" id="profile-tab">Profile</a>
		</li>

		<li>
			<a href="/profile/reviews" class="nav-links" id="profile-tab">Reviews</a>
		</li>

		<li>
			<a href="/profile/favorites" class="nav-links" id="profile-tab">Favorites</a>
		</li>

		<li>
			<a href="/logout" class="nav-links" id="logout">Logout</a>
		</li>
	</ul>
</nav>