<% include ./partials/head.ejs %>
<% include ./partials/nav.ejs %>
<% include ./auth/login.ejs %>
<% include ./auth/register.ejs %> 


</div>
<div id="logo-container">
	<img id="logo" src="http://res.cloudinary.com/themostcommon/image/upload/v1516074565/A-or-Nay-outlines_Transparent24_tagbfr.png" width="700" height="500" alt="A or Nay Logo"  /> 
	<form id="search-form" action="/public/results" method="POST">
		<input id="autocomplete" type="text" placeholder="Restaurant Name" name="search">
		<input id="search-submit" type="submit" value="submit">
	</form>
</div>
<div id="phrase">
	<p> Is your favorite restaurant making the grade? <br /><br />Find out what you  never wanted to know. 
	</p>

<% include ./partials/footer.ejs %>
