<% include ./partials/head.ejs %>
<% include ./partials/nav.ejs %>
<% include ./auth/login.ejs %>
<% include ./auth/register.ejs %> 





<h1 class="toggle">
  <%= `${data[0].dba}`%>
  </h1>
  <h2>
    <%= `${data[0].building} ${data[0].street}, ${data[0].boro}, ${data[0].zipcode}` %> 
</h2>
	 
 
</br>
 <div id="favorite-container">
    <% include ./partials/favorites.ejs %> 
</div> 

<div id="review-section">
    <% include ./partials/stars.ejs %>
</div>
     <div id="accordion">
        <% data.forEach(data => { %>
  
       <h2 class="toggle">
      <%= `${(data.inspection_date).split('T')[0]} Grade: ${data.grade}`  %>
        </h4>
     </h2>
    <div id="hide">
        
        <h4><%= `Violation: ${data.violation_description}`  %>
        </h4>
        
        

        


    </div>    

<% }) %>
</div>
</div>
   
 



<% include ./partials/footer.ejs %>
