<% include ./partials/head.ejs %>
<% include ./partials/nav.ejs %>

<div class="accordion-results" id="accordion">
<% data.forEach(data => { %>
  
    <h2 class="toggle">
      <%= `${data.dba}''${data.building} ${data.street}, ${data.boro}, ${data.zipcode}` %> 
    	</h3></span> 
     </h2>
    <div id="hide">
    	
    	<h4><%= `Grade: ${data.grade} on ${(data.inspection_date).split('T')[0]}`  %>
    	</h4>
    	
    	<h4><%= `Violations: ${data.violation_description}` %>
    	<h4>
      <form action="/public/location" method="POST" >
      	<input type="hidden" id="locationId" name="locationId" value=<%= data.camis %>  />
    
		<input id="location-submit" type="submit" value="Show More Violations" />
	</form>
    
    </h4>
    	


    </div>    

<% }) %>
</div>
</div>

<% include ./partials/footer.ejs %>
