<% include ./partials/head.ejs %>
<% include ./partials/nav.ejs %>
<% include ./auth/login.ejs %>
<% include ./auth/register.ejs %> 

<h2> This is Review List </h2>

<% data.forEach(data => { %>
<i class="fa fa-pencil" aria-hidden="true"></i>

<div id="review-container"> 
<h1><%= data.dba %><%= data.rating %></h1>
<p><%= data.review %>

</div> 

<% }) %> 
</body>
</html>