<% include ../partials/val-head.ejs %>
<% include ../partials/val-nav.ejs %>



<form action="/validated/results" method="POST">
<input id="autocomplete" type="text" placeholder="Restaurant Name" name="search">
<input id="search-submit" type="submit" value="submit">
</form>




<% include ../partials/footer.ejs %>
