<% include ../partials/val-head.ejs %>
<% include ../partials/val-nav.ejs %>


<div id="edit-review">
		<form action="<%= `/profile/${data.id}?_method=PUT` %>" 
		id="review-edit-form" method="POST">
		  <label for="rating">Rating</label>
		  <input id="edit-rating" type="text" name="rating" value="<%= data.rating %>" />
		  <br /> 
		  <label for="review">Review</label>
		  <input id="edit-review" type="text" name="review" value="<%= data.review %>" />
		  <input type="hidden" id="edit-id" name="id" value=<%= data.id %>  />
		  <input type="submit" id="review-submit" value="Save changes" />
		</form>

<% include ../partials/footer.ejs %>
